/* intro text */
body {
  font-family: Arial, sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  color: #fffdfd;
  background-color: #0077c2;
  font-size: 36px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 10px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: inline-block;
  border-radius: 50px;
  vertical-align: top;
  /* aligns the box to the top of the line */
  margin-top: 100px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.page-description {
  color: #2591d4;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 200px;
  padding: 5px 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: inline-block;
  vertical-align: bottom;
  /* aligns the box to the bottom of the line */
  border-radius: 50px;
}

/* Define the initial state of the footer */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

footer {
  background-color: rgba(202, 200, 200, 0.8);
  box-shadow: 0 0 10px 5px rgba(214, 212, 212, 0.5);
  color: rgb(21, 21, 24);
  padding: 20px;
  font-size: 25px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  text-align: left;
  opacity: 0;
  animation: fade-in 1s forwards;
  justify-content: space-between;
  padding: 50px;
}


@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.description {
  max-width: 600px;
  text-align: left;
  font-size: 25px;
  margin-left: 120px;
  font-family: 'Baloo Thambi 2', 'Maven Pro', 'Press Start 2P', 'Raleway', 'Rubik', sans-serif;
}


.description p {
  max-width: 400px;
  text-align: justify;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 300;
}



/* Define a pulsating animation for the footer */
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* Apply the pulsating animation to the footer */
.footer-animation {
  animation: pulse 2s infinite;
}


/* butang intro  */

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 770px;
}

.contact-button {
  display: inline-block;
  background-color: #4a90e2;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 6px;
  transition: background-color 0.2s;
  margin-right: 20px;
}
@media only screen and (max-width: 1100px) {
  .buttons {
    margin-left: 570px;
    
  }
  .contact-button {
    font-size: 15px;
  }
}



.contact-button:hover,
.learn-more-button:hover {
  background-color: #245da7;
}

/* intro 2  */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.box-container {
  display: flex;
  height: 400px;
}

.box-description2-opa,
.box-description2 {
  transition: 1s all;
}

.title2,
.title2P,
.description2 {
  opacity: 0;
  transition: 1s all;
}

.box-container.animate .box-description2-opa {
  animation: slideInFromLeft 1s forwards;
}

.box-container.animate .box-description2 {
  animation: slideInFromRight 1s forwards;
}

.box-container.animate .title2,
.box-container.animate .title2P,
.box-container.animate .description2 {
  opacity: 1;
  transition-delay: 1s;
}

.box-description2-opa {
  background-color: rgba(37, 102, 243, 0.75);
  width: 50%;
}

.title2 {
  text-align: left;
  margin: 0;
  font-family: 'Playfair Display', serif;
  color: white;
  padding: 20px;
  font-size: 75px;
}

.title2P {
  text-align: justify;
  margin: 0;
  margin-top: -40px;
  font-family: 'Playfair Display', serif;
  color: white;
  padding: 20px;
  font-size: 23px;
}

.box-description2 {
  background-color: rgb(35, 138, 255);
  color: white;
  padding: 20px;
  font-size: 25px;
  width: 50%;
}

.description2 {
  text-align: justify;
  margin: 0;
  margin-top: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  vertical-align: bottom;
  line-height: 1.5em;
}


/* apa yang anda dapat jika memilih kami */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.box3 {
  background-color: rgba(80, 185, 255, 0.8);
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.box-description3 {
  background-color: rgba(187, 196, 203, 0.95);
  padding: 40px;
  max-width: 80%;
  height: 450px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.box3.animate .box-description3 {
  animation: fadeIn 1.0s ease-out forwards;
}

.title3 {
  text-align: center;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #201e1e;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.description3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #333;
  margin-top: 20px;
  line-height: 1.5;
  text-align: center;
}



.logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: calc(50% - 10px);
  transform: translateY(20px);
  opacity: 0;
}

.box3.animate .logo-wrapper:nth-child(1) {
  animation: fadeIn 1s ease-out 0.6s forwards;
}

.box3.animate .logo-wrapper:nth-child(2) {
  animation: fadeIn 1s ease-out 1.2s forwards;
}

.box3.animate .logo-wrapper:nth-child(3) {
  animation: fadeIn 1s ease-out 1.6s forwards;
}

.box3.animate .logo-wrapper:nth-child(4) {
  animation: fadeIn 1s ease-out 2.0s forwards;
}

.logo {
  width: 170px;
  margin-right: 20px;
  margin-top: -10px;
}

.logo-description {
  text-align: justify;
  font-size: 18px;
  font-weight: bold;
}


/* untuk phone */

@media only screen and (max-width: 800px) {

  .page-container {
    padding: 20px; /* Add padding to reduce text width on small screens */
    margin-top: 30px;
  }

  .page-title,
  .page-description {
    font-size: 24px; /* Decrease font size on smaller screens */
    margin-top: 50px; /* Reduce top margin */
  }

  footer {
    font-size: 20px; /* Reduce font size */
    padding: 30px; /* Reduce padding */
  }

  .description {
    margin-left: 0; /* Remove margin on smaller screens */
  }

  .buttons {
    flex-direction: column; /* Stack buttons vertically */
    align-items: flex-end; /* Align left */
    margin-left: 110px; /* Remove margin */
  }

  .contact-button,
  .learn-more-button {
    margin-bottom: 10px; /* Add space between stacked buttons */
  }

  .box-container {
    flex-direction: column; /* Stack boxes vertically */
    height: auto; /* Let height be automatic */
  }

  .box-description2-opa,
  .box-description2 {
    width: 100%; /* Boxes take full width */
  }

  .title2 {
    font-size: 50px; /* Reduce font size */
  }

  .title2P {
    font-size: 18px; /* Reduce font size */
  }

  .box-description3 {
    padding: 20px; /* Reduce padding */
    height: auto; /* Let height be automatic */
  }


/* apa yang anda dapat jika memilih kami */

  .title3 {
    font-size: 34px; /* Reduce font size */
    margin-bottom: 20px;
    text-align: center;
  }

  .logo-wrapper {
    width: 100%; /* Logo wrappers take full width */
  }
  
  .logo {
    width: 100px; /* Reduce logo size */
  }
  .logo-description {
    text-align: left;
  }
}