body {
  background-image: url('asset/gambar/background\ program\ 2.jpeg');
  background-size: cover;
  background-position: center;
  animation: background-animation 10s ease-in-out infinite;
  box-shadow: 0px 0px 50px rgba(0, 0, 255, 0.5);
  font-family: Arial, sans-serif;
}

