* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #228ae6, #0a5392, #228ae6, #0a5392, #228ae6, #0a5392, #228ae6, #0a5392, #228ae6, #0a5392);
  background-size: 800% 800%;
  animation: gradientAnimation 12.20s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  flex-direction: row;
  margin: 50px auto;
  margin-top: -23em;
  margin-left: 32em;
  max-width: 650px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  justify-content: right;
  align-items: right;
  background-size: cover;
  background-position: right;
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

.image {
  flex: 1;
  margin-top: 7em;
  max-width: 60%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: left;
  background-size: cover;
  background-position: left;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  /* Update border-radius value for a slightly rounded border */
  border: 2px solid #0e3dd6;
  /* Add a white border */
  outline: 2px solid #02789f;
  /* Add an outline with your desired color */
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }

  .image {
    order: 1;
  }
}

.form {
  flex: 2;
  padding: 40px;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
}

.form h2 {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.form .form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form .form-col {
  flex: 1;
  margin-right: 10px;
}

.form .form-col:last-child {
  margin-right: 0;
}

.form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form select,
.form textarea {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  resize: none;
  font-size: 16px;
}

.form input[type="submit"] {
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form input[type="submit"]:hover {
  background-color: #005ea8;
}

.box-details {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

textarea {
  resize: both;
  /* Allow both vertical and horizontal resizing */
  min-height: 100px;
  /* Set a minimum height */
  max-height: 200px;
  /* Set a maximum height */
  width: 100%;
  /* Set the width to occupy the available space */
  overflow: auto;
  /* Add scrollbars when content exceeds the size */
}


/* utk phone */

@media (max-width: 1097px) {

  .container {
    display: flex;
    flex-direction: row;
    margin: 50px auto;
    margin-top: -17em;
    margin-left: 10em;
    max-width: 80%;
    z-index: 1;
    justify-content: right;
    align-items: right;
    background-size: cover;
    background-position: right;
  }


  .image {
    flex: 1;
    margin-top: 7em;
    max-width: 80%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: left;
    background-size: cover;
    background-position: left;
  }

  .form {
    order: 2;
    flex: 1 0 auto;
    padding: 20px;
    border-radius: 0;
  }
  .form h2 {
    font-size: 16px;
  }
  .form label {
    font-size: 13px;
  }

  .form input[type="submit"] {
    font-size: 10px;
  }

  .form input[type="text"],
  .form input[type="email"],
  .form input[type="tel"],
  .form select,
  .form textarea {
    width: 100%;
    font-size: 10px;
  }
  @media (max-width: 897px) {
    .container {
      margin-top: -14em;
     }
  }
  @media (max-width: 697px) {
    .container {
      margin-top: -11em;
     }
  }
  @media (max-width: 597px) {
    .container {
      max-width: 100%;
     }
     .form .form-row {
      flex-direction: column;
    }
  }
}