* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}


@keyframes background-animation {
  0% {
    background-color: #00a1ff;
  }

  50% {
    background-color: #0077ff;
  }

  100% {
    background-color: #00a1ff;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* title program1 */
.program-title {
  font-size: 2rem;
  text-align: center;
  color: #0077be;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 0.5px #fff;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  animation: title-animation 2s ease-in-out forwards;
  margin-top: 20px;
}

.program-titleBM {
  font-size: 2rem;
  text-align: center;
  color: #fdf000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  animation: title-animation 2s ease-in-out forwards !important;
  display: inline;
  z-index: 2;
}

.course-code {
  color: #c7c7c7;
  position: relative;
  font-size: 0.8em;
  animation: title-animation 2s ease-in-out forwards;
  display: inline;
  z-index: 2;
}

.inline {
  text-align: center;
  /* center align text */
  margin-top: 7em;
}

.program-title::before {
  content: "";
  position: absolute;
  min-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #0077be, #2c5bb5, #0077be, #2c5bb5);
  z-index: -1;
  opacity: 0.8;
  transform: skewY(-12deg);
  transform-origin: bottom left;
  animation: gradient-animation 10s linear infinite;
}

.program-titleBM::after {
  content: "";
  position: absolute;
  width: 300%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid #fff;
  z-index: -2;
  opacity: 0.5;
  animation: border-animation 2s ease-in-out forwards;
  margin-left: -10em;
}

@keyframes title-animation {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes border-animation {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  50% {
    opacity: 0.5;
    transform: scale(1);
  }

  100% {
    opacity: 0.5;
    transform: scale(1.2);
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}




/* content */
.program-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.2);
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 100px;
  position: relative;
}

.program-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to right, #0077be, #00bfff);
  opacity: 0.3;
  animation: section-animation 2s ease-in-out infinite alternate;
}

.program-info h3 {
  font-size: 24px;
  color: #0077be;
  margin-bottom: 10px;
  animation: heading-animation 1s ease-in-out;
  margin-left: 1.5em;
}

.program-info ul {
  list-style-type: disc;
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  animation: heading-animation 1s ease-in-out;
  margin-left: 1.2em;
}

@keyframes zoom-in-left {
  0% {
    transform: translateX(-100%) scale(0);
    opacity: 0;
  }

  60% {
    transform: translateX(10%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes zoomInLeft {
  0% {
    transform: scale(0.5) translateX(-100%);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}

.program-image {
  max-width: 30%;
  height: auto;
  margin-left: 20px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  animation: image-animation 20s infinite alternate ease-in-out, zoomInLeft 2s ease-out;
  position: relative;
  overflow: hidden;
}


.program-image::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: linear-gradient(45deg, #0077be, #00bfff, #0077be);
  animation: bg-animation 20s infinite alternate ease-in-out;
}

@keyframes image-animation {

  /* image animation */
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes bg-animation {

  /* image animation */
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}




@keyframes heading-animation {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes text-animation {
  0% {
    opacity: 0;
    transform: translateY(50px) rotateZ(0deg);
  }

  50% {
    opacity: 0.8;
    transform: translateY(0) rotateZ(360deg);
  }

  100% {
    opacity: 1;
    transform: translateY(-50px) rotateZ(720deg);
  }
}


@keyframes section-animation {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}


/* menu */

.menu {
  background-color: #0077be;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu-animate {
  animation: heading-animation 1s linear;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 50px;
}

.menu li {
  flex: 1;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.menu a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 0;
}

.menu a:hover {
  background-color: #fff;
  color: #0077be;
}

.menu li:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


/* overview */
.overview {
  background-color: #f7f7f7;
  padding: 80px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 2em;
  color: #222121;
  margin-bottom: 50px;
  margin-top: -1.4em;
}

@keyframes title-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transform: translateY(50px);
  opacity: 0;
  margin-top: -2em;
  /*animation: content-fade-in 1s ease-in-out forwards;*/
}

@keyframes content-fade-in {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.description {
  font-size: 20px;
  color: #464545;
  line-height: 1.2;
  margin-bottom: 30px;
  margin-top: -1em;
}

.highlight {
  font-size: 1.2em;
  font-weight: bold;
  color: #232121;
  margin-bottom: 0.6em;
  margin-top: -1em;
}

.highlight2 {
  font-size: 1.2em;
  font-weight: bold;
  color: #232121;
  margin-bottom: 0.6em;
  margin-top: 1em;
}



@keyframes features-fade-in {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.features {
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  transform: translateY(30px);
}

.features li {
  font-size: 16px;
  color: #3a3838;
  margin: 0.1em;
  white-space: nowrap;
}


.features li:last-child {
  margin-right: 0;
}

.features li:before {
  content: "\2022";
  color: #333;
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}



/* Add a smooth transition to the hover effect */
.features li {
  transition: all 0.2s ease-in-out;
}

/* Add a shadow effect to the content box */
.content {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Add a relax shadow effect to the content box */
.relax-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Add a relax effect to the title and description */
.title,
.description {
  transition: all 0.3s ease-in-out;
}

/* Add a hover effect to the title and description */
.title:hover,
.description:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}




/* course structure */
.boxer {
  background-color: #f1f1f1;
  padding: 40px;
  position: relative;
  overflow: hidden;
}

.boxer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.boxer:hover::before {
  opacity: 1;
}

.boxer h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  margin-bottom: -0.2em;
  margin-top: -0.3em;
  opacity: 0;
}

.boxer ul {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-top: -0.2em;
  padding: 0;
  list-style-type: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  /* Fade in effect */
}

.boxer li {
  margin-bottom: 8px;
  position: relative;
  opacity: 0;
  text-align: left;
  /* Center the text */
  color: #1c2124;
  /* Change text color */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  /* Add transition for smooth effect */
}



.boxer li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 5px;
  height: 100%;
  background-color: #0077be;
  animation: slideInLeft 1s ease forwards;
}

.boxer .sub-title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
  opacity: 0;

}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-10px);
  }

  to {
    transform: translateX(0);
  }
}


.flex-container {
  /* to make the text side by side */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Added to distribute space evenly between the items */
}

.flex-item {
  /* to make the text side by side */
  flex-basis: calc(33.33% - 20px);
  /* Subtracting margin from flex-basis */
  margin: 10px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes text-animation {
  0% {
    opacity: 0;
    transform: translateY(50px) rotateX(50deg);
  }

  50% {
    opacity: 0.7;
    transform: translateY(0) rotateX(0deg);
  }

  100% {
    opacity: 1;
    transform: translateY(0) rotateX(-50deg);
  }
}

/* career path */

.career-path {
  position: relative;
  height: 0%;
  overflow: hidden;
  align-items: center;
}

.career-path::before {
  content: "";
  position: absolute;
  top: -30%;
  left: -50%;
  width: 200%;
  height: 130%;
  z-index: -1;
  background: linear-gradient(35deg, #1975d8, #12b4ca, #054f9f, #45bedf, #2156db, #054f9f, #45bedf, #2156db, #054f9f, #45bedf, #2156db, #054f9f, #45bedf, #2156db, #054f9f, #45bedf, #2156db, #054f9f, #45bedf, #2156db);
  background-size: 300% 300%;
  animation: gradient 43s ease-in-out infinite;
}


.career-path-box {
  position: relative;
  z-index: 1;
  background: linear-gradient(rgb(192, 192, 192, 0.6), rgb(224, 224, 224, 0.6), rgb(210, 210, 210, 0.8));
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.6), 0 0 100px rgba(0, 0, 0, 0.3);
  padding: 40px;
  text-align: center;
  margin: 100px auto;
  max-width: 93%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.uull {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.career-group {
  flex-basis: 45%;
  /* Adjust this as needed */
  margin-bottom: 20px;
}

.career-path h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  margin-bottom: 15px;
  margin-top: -0.4em;
  color: #2f353f;
}

.career-path .career-group {
  border: 1px solid #3d3a3a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* Adjust this to space items more evenly */
}

.career-path .career-group p {
  font-size: 16px;
  line-height: 1.3;
  color: #2156db;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  text-align: left;
  flex: 1;
  margin-right: 0.8em;
}

.career-path .career-group ul {
  text-align: left;
  padding: 0;
  list-style: disc inside;
  list-style-position: inside;
  flex: 2;
  padding-left: 1em;
}

.career-path .career-group li {
  font-size: 13px;
  color: #3d3a3a;
  margin-bottom: 10px;
  text-align: left;
}


.career-group img {
  margin-right: 20px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  flex: 0 0 auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.career-group {
  opacity: 0;
  /* Start as transparent */
  animation-name: fadeIn;
  /* Animation will trigger when scroll event occurs */
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
  /* Delay before the animation starts */
}

/* utk fon */

@media screen and (max-width: 688px) {
  .program-title {
    font-size: 1.7rem;
    margin-top: 20px;
    -webkit-text-stroke: 0px #fff;
  }

  .program-titleBM {
    font-size: 1.7rem;
    text-align: center;
  }

  .course-code {
    font-size: 0.5em;
  }

  /* content */
  .program-section {
    flex-direction: column;
  }

  .program-info h3 {
    font-size: 20px;
    color: #0077be;
    margin-bottom: 10px;
    margin-left: -1em;
  }

  .program-info ul {
    font-size: 15px;
    line-height: 1.5;
    margin-left: -2em;
  }

  .program-image {
    max-width: 62%;
    margin-left: 20px;
    border-radius: 50%;
  }


  /* menu */
  .menu {
    display: none;
  }

  .menu a {
    font-size: 13px;
  }

  /* content */
  .container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
  }

  .title {
    font-size: 1.8em;
    margin-bottom: 50px;
    margin-top: -1.4em;
  }

  .description {
    font-size: 17px;
    line-height: 1.2;
    margin-bottom: 30px;
    margin-top: -1em;
  }

  
  .highlight {
    font-size: 1.0em;
    margin-bottom: 0.6em;
    margin-top: -1em;
  }

  .highlight2 {
    font-size: 1.0em;
    margin-bottom: 0.6em;
    margin-top: 1em;
  }

  .features li {
    font-size: 16px;
    color: #3a3838;
    margin: 0.1em;
    white-space: nowrap;
  }

  .features li {
    font-size: 14px;
    color: #3a3838;
    margin: 0.1em;
    white-space: nowrap;
  }

  /* course structure */

  .boxer {
    flex-direction: column;
  }

  .boxer h2 {
    font-size: 26px;
    margin-bottom: -0.2em;
    margin-top: -0.3em;
    text-align: center;
    max-width: 100%;

  }

  .boxer ul {
    font-size: 15px;
    margin-top: -0.2em;
  }
  .flex-container {
    /* Changed to block to stack items vertically */
    display: block;
  }
  
  .flex-item {
    /* Updated to 100% to occupy full width */
    flex-basis: 100%;
    margin: 10px;
  }
  
}

@media screen and (max-width: 1000px) {
  /* career path */
  .career-group {
    flex-basis: 100%;
    /* to occupy full width on small screens */
    margin-bottom: 20px;
    margin-left: -4.5em;
  }
  
  .career-path .career-group p {
    font-size: 14px;
    /* adjust font-size if necessary */
  }

  .career-path .career-group ul {
    padding-left: 0.5em;
    /* adjust padding if necessary */
  }

  .career-group img {
    width: 100px;
    height: 100px;
    /* adjust image size if necessary */
  }

  
}

