.bodyy {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, rgba(75, 134, 201, 0.61), rgba(6, 67, 209, 0.724));
  overflow-x: hidden;
}
* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}

.contentT {
  position: absolute;
  z-index: 1;
  align-items: left;
  padding: 10px;
  /* This line adds some space inside the box */
  background-color: #1d97de;
  height: 100%;
  width: 100%;
  height: auto;
}



.contentT h2 {
  color: #fff;
  font-size: 5.0em;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 3px solid linear-gradient(to bottom, rgba(75, 134, 201, 0.61), rgba(6, 67, 209, 0.724));
  ;
  border-radius: 10px;
  margin-top: 1.93em;
  margin-left: 3.8em;
  background-color: linear-gradient(to bottom, rgba(75, 134, 201, 0.61), rgba(6, 67, 209, 0.724));
  animation: fadeIn 1s ease-out;
}

.contentPon h2 {
  display: none;
}

.contentT h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #126ce1;
}

.contentT h2:nth-child(2) {
  color: #126ce1;
  animation: fadeIn 1s ease-out, animate 4s ease-in-out infinite;
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}



/* */
.about-us-header2 {
  height: 8000px;
  background-color: linear-gradient(to bottom, #367bea, #b05a05);
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 11em;
  height: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes textAnimation {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  background-color: white;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  margin-top: 2em;
  margin-bottom: 2em;
  animation: fadeIn 1s ease-out;
  /* Adding fade in effect */
}

.text-container h1 {
  color: #0d3eb0;
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  animation: textAnimation 1.2s ease-out;
  /* Adding text animation */
}

.about-description {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-size: 15px;
  text-align: justify;
  margin-right: 1em;
  margin-left: -3em;
  max-width: 500px;
  /* Limit the width of the text */
  animation: textAnimation 1.5s ease-out;
  /* Adding text animation */
}


/* image */
.swiper {
  width: 400%;
  height: 600%;
}

.swiper-slide img {
  width: 100%;
}


@keyframes zoomInOut {

  0%,
  100% {
    transform: scale(1) translateY(0);
  }

  50% {
    transform: scale(1.01) translateY(-5px);
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 40%;
  min-height: 600%;
  margin-left: -5em;
  overflow: hidden;
  animation: zoomInOut 1.5s ease-in-out;
  /* Adding zoom in/out animation */
}

@media only screen and (max-width: 1000px) {

  .image-container {
    max-width: 50%;
    min-height: 200%;
    margin-left: 0;
    /* Other styles */
  }

  .about-description {
    font-size: 14px;
    margin-right: 1em;
    margin-left: 0em;
    max-width: 900px;
    /* Limit the width of the text */
  }
}


.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: rgb(73, 142, 252);
  /* Change color to white */

  padding: 10px;
  /* Increase size */
  border-radius: 0%;
  /* Make them circular */
  font-size: 20px;
  /* Increase arrow size */
  transition: background-color 0.3s ease;
  /* Smooth background color transition */
}

.swiper .swiper-button-prev:hover,
.swiper .swiper-button-next:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  /* Add shadow for better visibility */
  background-color: #4d535c;
}


.swiper .swiper-pagination-bullet-active {
  background-color: #3278e0;
}

/* mission vision */
#vision-mission-section {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
}

.section {
  flex-basis: 45%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(255, 30, 30, 0.1);
}

#vision {
  background-color: #4b8bf5;
  color: white;
}

#mission {
  background-color: #f5b04b;
  color: white;
}

#quality {
  background-color: #64f54b;
  color: white;
}

.section h2 {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.section p {
  font-size: 18px;
  line-height: 1.6;
}


/* Mobile styles */
@media only screen and (max-width: 800px) {


  .contentT h2 {
    /* (title air) */
    display: none;
  }

  .contentT h2:nth-child(1) {
    display: none;
  }

  .contentT h2:nth-child(2) {
    display: none;
  }

  .contentPhone h2 {
    display: block;
    color: #1367d6;
    font-size: 2.7em;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    margin-top: 3.23em;
    margin-left: 4.2em;
    animation: fadeIn 1s ease-out;
    z-index: 3;
  }





  .contentT {
    padding: 5px;
    /* Other styles */
  }

  .contentT h2 {
    font-size: 2.8em;
    margin-top: 2.7em;
    /* Other styles */
  }

  .about-us-header2 {
    margin-top: 2em;
    /* Other styles */
  }

  .content {
    flex-direction: column;
    padding: 10px;
    margin-top: 8em;
    /* Other styles */
  }



  .text-container h1 {
    font-size: 24px;
    /* Other styles */
  }

  .about-description {
    margin-left: 0;
    margin-right: 0;
    /* Other styles */
  }

  .swiper-slide img {
    width: 100%;
    /* Other styles */
  }

  .image-container {
    max-width: 100%;
    min-height: 300%;
    margin-left: 0;
    /* Other styles */
  }



  /* visi misi */
  #vision-mission-section {
    flex-direction: column;
    /* Other styles */
  }

  .section p {
    font-size: 14.5px;
    line-height: 1.6;
  }

  #mission {
    margin-top: 0.4em;
  }

}
